<meta property="og:title" content="Snekki dot moway">
<meta property="og:description" content="snek">
<meta property="og:image" content="https://snekki.moe/snek.gif">
<meta property="og:url" content="https://snekki.moe">
<meta name="theme-color" content="#89e053">
<head>
<meta name="6a97888e-site-verification" content="32173e67c68141793a597c0267c0a577">
</head>
<div class="content">
  <title>Bloope's quirky website</title>
  <p>NOTICE: Due to Snekki's primary computer being broken, it is currently unable to handle generations. I am currently working on getting this fixed, but it's likely going to take several weeks.</p>
<img src="/public?file=bloope.png" height="50" width="200" class="tex"><c><b>'s quirky </b><img src="/public?file=snek22.gif" height="40" width="280" class="tex"></c><c><b> website</b></c>
<br><br>
<a href="/commissions">Commissions site</a><br><br>
<a href="https://snekmo.snekki.moe">
<div class="image-container">
    <img src="https://snekmo.snekki.moe/image?src=snekmo.png" class="image-container"  width="220">
    <div class="hover-text">
      <p style="font-size:11px;">Snekmo, a new video site I'm working on, is out now, go try it out!!!!</p>
    </div>
  </div>
  <p>^^^ Snekmo, a new video site I'm working on, is out now, go try it out!!!!</p>
  </a>
<div class="info">
  <h2>What is snekkiBot</h2>
<p class="info">snekkiBot is a Discord bot that uses the power of Stable Diffusion XL to give you very cool lookin images based on the stuff you type in</p>
  <div class="image-container">
<img class="image-container" src="/public?file=ex1.png" height="400" width="300">
<div class="hover-text">
  <p style="margin-left: 8px; margin-right:8px;"><br><br>hat some of mik koo in minecraft ???????</p>
</div>
</div>
<div class="image-container">
<img class="image-container" src="/public?file=ex2.png" height="400" width="300">
<div class="hover-text">
<p style="margin-left: 8px; margin-right:8px;"><br><br>ephalnetet</p>
</div>
</div>
<div class="image-container">
<img class="image-container" src="/public?file=ex3.png" height="400" width="300">
<div class="hover-text">
<p style="margin-left: 8px; margin-right:8px;"><br><br>yeah snekki does this alot<br><br>Donate to my patreon if you want to see this happen less</p>
</div>
</div>

<h1>FEATURES:</h1>
<ul>
<li style="margin-right:20%;">Uses SDXL as the main model</li>
<li style="margin-right:20%;">Has a second, older, more anime-focused model that's accessible with /anidream</li>
<li style="margin-right:20%;">Has yet another model with the sole purpose of makin <a href="/public?file=trol.png">those goofy lookin landscapes that actually have hidden images in em</a></li>
<li style="margin-right:20%;">Both the normal model and anime model support a whole bunch of loras (I'm too lazy to get the actual list of em so you'll either just need to ask me about em or figure em out yourself)</li>
<li style="margin-right:20%;">All models support img2img (and the illusion feature basically requires it lmao)</li>
<li style="margin-right:20%;">You can play around with stuff like the cfg settings n whatnot</li>
<li style="margin-right:20%;">I run this off my main desktop, so I'm basically sacrificing most if not all of my gpu power lol</li>
</ul>
<h1>FEATURES (if you pay me):</h1>
<ul>
<li style="margin-right:20%;">NSFW Access</li>

<li style="margin-right:20%;">Increase the image resolution up to 1150x1150</li>
<li style="margin-right:20%;">Skip the queue</li>
<li style="margin-right:20%;">Special access to channels in my discord</li>


</ul>
</div>
<h1>REVIEWS BY OUR USERS:</h1>

<p><i>"cool bot"</i><br>    -Bloope, the dude who created this thing</p>
<p><i>"bot"</i><br>    -europeball</p>
<p><i>"why is it under maintenance"</i><br>    -epicflam23</p>
<p><i>"who up roing they bot rn"</i><br>    -lu.cy, Patreon Supporter</p>
<p><i>"https://skibidi-toilet.fandom.com/wiki/Skibidi_Toilet_Wiki"</i><br>    -eilay28</p>
<p><i>"Snakes are very epic, and so is this bot"</i><br>    -Xemnas#7589</p>
<p><i>"im snekking so hard rn omygahh"</i><br>    -milk_n_koolaid</p>

<p><i>"The best image creation bot I have ever seen!
(I'm in the creators basement. send help.)"</i><br>    -demonmask.</p>
<p><i>"idk...,., bot kinda mid ngl.,..,.,,."</i><br>    -matikis</p>
<a href="https://discord.com/application-directory/1019264800997523517">
<div class="image-container">
    <img src="/public?file=snek22.gif" class="image-container" height="200" width="280">
    <div class="hover-text">
      <p>Add SnekkiBot to your Discord server</p>
    </div>
  </div>
  </a>
  <a href="https://discord.gg/vU8WWARcxW">
  <div class="image-container">
      <img class="image-container" src="/public?file=discord.png" height="200" width="280">
      <div class="hover-text">
        <p>SnekkiCord</p>
      </div>
    </div>
    </a>
    <a href="https://www.patreon.com/Bloope">
    <div class="image-container">
        <img src="/public?file=Patreon.png" class="image-container" height="200" width="280">
        <div class="hover-text">
          <p>Patreon</p>
        </div>
      </div>
      </a><br>
      <a href="https://snekmo.snekki.moe">
      <div class="image-container">
          <img src="/public?file=snekmo2.png" class="image-container" height="200" width="280">
          <div class="hover-text">
            <p>Snekmo</p>
          </div>
        </div>
        </a>
        <a href="https://archive.snekki.moe">
        <div class="image-container">
            <img src="/public?file=archive.png" class="image-container" height="200" width="280">
            <div class="hover-text">
              <p>Bloope's Archives</p>
            </div>
          </div>
          </a>
          <a href="https://lbp.snekki.moe">
          <div class="image-container">
              <img src="/public?file=lbp.png" class="image-container" height="200" width="280">
              <div class="hover-text">
                <p>Bloope's LBP Tools</p>
              </div>
            </div>
            </a>
<style>
    @import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400%3B0,700%3B1,400%3B1,700&subset=latin&display=swap);
  c {
    font-size: 45px;
  }
  body {
    font-family: Poppins,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0px;
    background: url(/public?file=bunny.png&full=true);
     background-size: cover;
  }
  .info p.info {
    margin-right:20%;
  }
  a {
    text-decoration: none;
  }
  div.content {
    background: white;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 1px;
    padding-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    outline: 1px solid #cccccc;
    background: #ffffffdd;
  }
  .tex {
    position: relative;
 top: 8px; /* Adjust the value to move the image down as per your preference */s
  }
  div.image-container {
    position: relative;
    display: inline-block;

  }
.image-container {
    border-radius: 8px;
    margin-left:2px;
}

  div.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 18px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;
    border-radius: 8px;
  }

  div.image-container:hover div.hover-text {
    opacity: 1;
  }
</style>
